h1, h2, h3, h4, h5, h6 {}

h1 {
  font-size: $heading1;
  color: pink;
}

h2 {
  font-size: $heading2;
}

h3 {
  font-size: $heading3;
}

a {
  color: color(base);
  text-decoration: none;
}

p {
  font-size: $font-m;
}
