@import 'icons.css';
@import 'flexbox.css';
@import 'services.css';

/*

Author:         Simpleblend
Author URI:     https://simpleblend.net

*/
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', helvetica, arial;
}

.row {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', helvetica, arial;
}

.logo {
  margin: 0 auto;
  display: block;
  max-width: 250px;
}

.header_white {
    color: #ffffff;
    font-family: Montserrat-Bold, helvetica, arial;
    text-align: center;
    margin: 0 0 25px 0;
    padding: 0;
}

.component {
  width: 100%;
}


/*------------------- Begin Nav ---------------*/

nav {
    display: block;
    width: 100%;
    margin: 40px auto 50px;
    height: auto;
}

nav ul {
    width:100%;
    margin:0 auto;
    padding:0;
    list-style:none;
    text-align: center;
}

nav li {
    display: inline-block;

}

nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}

nav li a {
    padding: 10px 25px;
    color: #404041;
    font-size: 1.2em;
    font-weight: 600;
    font-family: Montserrat-Bold, helvetica, arial;
}

nav li a:hover {
    color: #7BC043;
    text-decoration: none;
}


/*------------------- End Nav ---------------*/






/*------------------- Begin Carousel ---------------*/

.carousel-container {
  height: 500px;
  width: 100%;
  padding: 0;
  list-style: none;
  margin: 0;
}

.carousel-img {
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
}

/*------------------- End Carousel ---------------*/



/*------------------- Begin Partners ---------------*/


.component-partners {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-color: #7AC144;
}

.component-partners h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', helvetica, arial;
    font-weight: 300;
    font-size: 1.5em;
    margin: 50px 0;

}

.multiple-items {
    width: 100%;
    padding-left: 50px;
}

.partner_logo {
    width: 200px;
    height: 75px;
    margin: 0;
    padding:10px;
}

.partner_slide {
    margin: 0 auto;
}



/*------------------- End Partners ---------------*/

/*------------------- Begin Who We Are ---------------*/

.component-who-we-are {
    background-image: url("../imgs/bg-who-we-are.svg");
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: auto;
    padding: 50px 0 100px 0;
}

.img_block {
    width: 90%;
    margin: 0;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 33%;
    min-width: 275px;
	height: auto;
    padding: 5px;
}
.hvrbox img {
	width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: inline-block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 5px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: left;
	font-size: 1.2em;
	display: inline-block;
	position: absolute;
    width: 80%;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}



/*------------------- End Who We Are ---------------*/


/*------------------- Begin Get Connected ---------------*/

.component-get-connected{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #EFEEEE;
}

.component-get-connected h1 {
    color: #000000;
    text-align: center;
}




/*------------------- End Get Connected ---------------*/



/*------------------- Begin Footer ---------------*/

.component-footer .col-md-3, col-sm-6 {

    margin: 0 auto;
}

.component-footer .row {
    width: 100%;
    height: auto;
    padding: 20px 0 0px;
    background-color: #ffffff;
    color: #404041;
}

footer .col-md-3 {
    padding: 0;
}



.footer_logoSec {
    width: 100%;
    height: 100px;
    display: inline-block;
    border-right: 1px solid black;

}

.footerLogo {
    width: 50%;
    max-width: 250px;
    margin: 0 auto;
    padding: 0;
}

.footer_quickNav {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-right: 1px solid black;

}

.footer_quickNav ul {
    width: 40%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.component-footer ul li {
    font-family: 'Montserrat', helvetica, arial;
    font-size: 1.1em;
    font-weight: 600;
    list-style-type: none;
    padding: 2px 0;
}

.footer_contact {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-right: 1px solid black;
    font-size: 1.1em;
    font-family: 'Montserrat', helvetica, arial;
}

.footer_contact address {
    font-family: 'Montserrat', helvetica, arial;
    width: 65%;
    margin: 0 auto 10px;
    padding: 0;
    font-weight: 600;
}

.footer_contact p {
    font-family: 'Montserrat', helvetica, arial;
    width: 65%;
    margin: 0 auto;
    padding: 0;
}



.footer_search {
    width: 100%;
    height: 100px;
    display: inline-block;

}

form {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

.footer_sm {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.footer_sm_logo {
    margin: 25px 20px;
    width: 45px;
    max-width: 75px;
}

.thin_footer {
    background-color: #414142;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}

.thin_footer h6 {
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    margin-top: 19px;
}


/*------------------- Begin Media Queries ---------------*/

@media only screen and (max-width: 767px) {
    .component-footer .col-sm-6, .col-xs-12 {
        margin-bottom: 50px;
    }

    .component-header .container {
        margin: 0;
        padding: 0;
    }

    nav {
        background-color: #7AC144;
    }

    nav ul {
        width: 100%;

    }

    nav ul li {
        display: block;
        padding: 5px 0;
    }

    nav ul li a {
        color: #ffffff;
    }

    nav ul li a:hover {
        color: #404041;
    }

    .partner_slide {
        width: 80%;
        margin: 0 auto;
    }

    .partner_logo {
        width: 200px;
        margin: 0 auto;
        padding:  25px;;
    }

    .component-who-we-are .container{
        margin: 0;
        padding: 0;
    }

    .footer_logoSec {
        margin-bottom: 10px;
    }

    .footer_quickNav {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        border: none;
    }

    .footer_quickNav ul {
        width: 80%;
    }

    .component-footer ul li   {
        width: 100%;
        text-align: center;
    }

    .footer_contact {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .footer_contact address {
        width: 80%;
    }

    form {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .footer_sm {
        width: 70%;
        margin: 0 auto;
        padding: 0;
    }

    .footer_sm_logo {
        margin: 25px 0 25px 20px;
    }

    .thin_footer {
        margin-top: 19px;
        padding: 0;
    }


}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
     .component-footer .col-sm-6, .col-xs-12 {
        margin-bottom: 60px;
    }

    .component-who-we-are .row {
        padding: 0;
    }

    .img_block {
        width: 100%;
        margin: 0;
    }

    .footer_logoSec {
        width: 100%;
        height: 300px;
        margin:auto;
        border: none;
    }

    .footerLogo {
        width: 70%;
        margin: 0 auto;
    }

    .footer_quickNav {
        width: 80%;
        margin: 0 auto;
        border: none;
    }

    .footer_quickNav ul {
        width: 100%;
        font-size: .8em;
    }

    .footer_quickNav ul li {
        padding: 5px 0;
    }

    .footer_contact, .footer_contact address, .footer_contact p {
        width: 100%;
        border: none;
        font-size: 1em;

    }

    form{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .footer_sm {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .footer_sm_logo {
        width: 30px;
        margin: 5px 5px 5px 15px;
    }
}
